#words {
    margin-left: 30%;
    margin-top: 30%;
    margin-right: 30%;

}



#art {
    background-image: url(lenny.png);
  
}
#songLyrics {
    color: rgb(199, 233, 243);
}
#strong {
    color: rgb(199, 233, 243);
}

#artWork {
    color: rgb(199, 233, 243);
}

